


.player-card {
    border-radius: 50%;
    width: 200px;
}

.overview-section {
    background-color: rgb(21, 30, 65);
    color: white;
}

.match-hist {
    margin-right:200px;
}

.avg-stats-info {
    border-top: 5px solid rgb(21, 30, 65);
    margin-top: 100px;
    padding-top: 20px;
}

.basic-info {
    display: grid;
    place-items: center;
    margin-left: 20px;
}


.player-name {
    font-size: 30px;
    font-weight: 400;
}

.mmr-info {
    padding:10px;
    text-align: center;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(35, 50, 109);
    
}

.comp-info {
    width:90%;
    display: flex;
    justify-content: space-between;
}

.match-card {
    border: 1px solid rgb(35, 50, 109); /* Border around the card */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Inner spacing */
    margin: 10px; /* Outer spacing */
    display: flex; /* Use flexbox for layout */
    background-color: rgb(35, 50, 109); /* Background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding-right:200px;
}

.player-agent {
    flex: 0 0 30%; /* Take up 30% of the width */
    border: 1px solid black; /* Optional: Keep for debugging */
    background-color: rgb(20, 33, 83);
    text-align: center; 
    padding: 10px; /* Add padding for better spacing */
}

.player-stats {
    flex: 1; /* Allow stats section to take up remaining space */
    display: flex; 
    flex-direction: column; /* Stack stats vertically */
    padding: 10px; /* Optional: Add padding for better spacing */
    box-sizing: border-box; /* Include padding in the width */
}


.agent-pic {
    width:150px;
    height: auto;
}
